/* VARIABLES */

:root {
    --color-red:  #ec2147;
    --color-blue: #0083ff;
    --color-pink: #ff5470;
    --color-slate: #415869;
    --color-offwhite: #fbfbfc;
    --color-ghpurple: #6f42c1;
    --color-lightgray: #ededed;
}

/* MAIN STYLES */

body {
    font-family: 'IBM Plex Sans', 'Segoe UI', 'Helvetiva Neue', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    background-color: var(--color-offwhite);
}

@media screen and (max-width: 640px) {
    body {
        font-size: 95%;
    }
}

code {
    font-family: 'IBM Plex Mono', Consolas, 'Courier New', monospace;
    padding: 2px 4px;
    font-size: 100%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

p {
    font-size: 110%;
    line-height: 150%;
}

.half p {
    font-size: 100%;
}

/***** Links */

main a:not(.button):not(.fa),
footer a:not(.button):not(.fa){
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(65%, transparent), color-stop(65%, rgba(0, 131, 255, 0.2)), to(rgba(0, 131, 255, 0.2)));
    background: linear-gradient(to bottom, transparent 0, transparent 65%, rgba(0, 131, 255, 0.2) 65%, rgba(0, 131, 255, 0.2) 100%);
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

main a:not(.button):focus,
main a:not(.button):hover,
footer a:not(.button):focus,
footer a:not(.button):hover {
    background: var(--color-blue);
    color: white;
    transition: all 0.25s;
}

/***** Headers */

h1,
h2, 
h3, 
h4 {
    line-height: 1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 {
    font-weight: 600;
    font-size: 400%;
}

h2 {
    margin-top: 1em;
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 100%;
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: var(--color-slate);
}

@media screen and (max-width: 768px) {
    h1, h2 {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 640px) {    
    .quarter > h4:first-child,
    .half > h4:first-child {
        margin-top: 1.5em;
    }
}

/***** Images */

img {
    width: 100%;
    border: none;
    position: relative;
    display: block;
    z-index: 2000;
    margin-top: 1em;
}

.caption {
    font-size: 85%;
    line-height: 1.5em;
}

/***** Colors */

.blue {
    color: var(--color-blue);
}

.red {
    color:  var(--color-red);
}

.blue-block {
    color: white;
    font-weight: bold;
    background-color: var(--color-blue);
}

.pink-block {
    color: white;
    font-weight: bold;
    background-color: var(--color-pink);
}

.slate-block {
    color: white;
    font-weight: bold;
    background-color: var(--color-slate);
}

.ghpurple-block {
    color: white;
    font-weight: bold;
    background-color: var(--color-ghpurple);
}

.lightgray-block {
    color: black;
    font-weight: bold;
    background-color: var(--color-lightgray);
}

/* HEADER and FOOTER STYLES */

/***** Header */

header {
    padding: 0 auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3em;
}

nav {
    margin-bottom: 0; /* Reduce the margin between the navigation bar and bio-prof-pic */
}

header h1 {
    margin-top: 0; /* Remove or adjust the top margin to reduce space */
}

header a {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

header a:hover {
    color: var(--color-blue);
    transition: all 0.25s;
}

#siteTitle {
    z-index: 2000;
    font-size: 150%;
    letter-spacing: .3em;
    float: left;
}

@media screen and (max-width: 640px) {
    header {
        padding: 1.5em;
        position: relative;
        display: block;
        z-index: 2000;
    }
}

/***** Nav bar */

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

nav li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Adjust the spacing between items */
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    color: #333; /* Set the link color to your preference */
    font-weight: bold; /* Optionally, make the text bold */
}


/***** Footer */

footer {
    padding: 0 auto;
    display: flex;
    align-items: center;
    padding: 3em;
}

footer > * {
    display: block;
    z-index: 2000;
}

@media screen and (max-width: 640px) {
    footer {
        padding: 1.5em;
    }
    
    footer p {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 360px) {
    footer {
        display: block;
    }
    
    footer .icon-bar {
        margin-bottom: 15px;
    }
}

/* LISTS */

ol {
    padding: 0;
}

ol {
    padding-left: 1.875em;
}

ol li {
    padding-left: 0.875em;
}

ul {
    list-style: outside none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.6em;
    line-height: 1.25em;
}

ul li >,
ol li > * {
    padding: 0;
    margin: 0;
}

.list-plus,
.list-arrows {
    padding-left: 40px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.list-plus li,
.list-arrows li {
    text-indent: -1.875em;
}

.list-plus li:before,
.list-arrows li:before {
    padding-right: 1em;
}

.list-plus li:before {
    content: "+";
    padding-right: 1.35em;
}

.list-arrows li:before {
    content: "→";
}

.list-bold {
    font-weight: bold;
}

.list-bar {
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 2em;
}

.list-bar li {
    display: inline;
    padding: .25em .5em;
    text-indent: -1.3125em;
}

@media screen and (max-width: 360px) {
    .list-bar li {
        padding: .25em .25em;
        font-size: 90%;
    }
}

.list-bar.buttons li {
    transition: all 0.25s ease-in-out;  
}

.list-bar.buttons li:hover {
    opacity: 0.5;
    transition: all 0.25s;  
}

.list-bar.buttons li a {
    color: white;
    text-decoration: none;  
}

/* LAYOUT: CONTAINERS*/

main {
    padding-top: 8em;
}

.narrow {
    max-width: 540px;
    padding: 1.5em 3em;
    margin: 0 auto;
}

.wide {
    max-width: 768px;
    padding: 1.5em 3em;
    margin-left: auto;
    margin-right: auto;
}

.inset {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 3em;
}

.bleed {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cut {
    max-width: 75%;
}

@media screen and (max-width: 640px) {
    .wide,
    .narrow {
        padding: 0.75em 1.5em;
    } 
    
    .inset {
        padding: 0;
    }

    .wide > *:first-child,
    .narrow > *:first-child,
    .inset > *:first-child {
        margin-top: 0;
        margin-bottom: 0; /* quick fix, may need to take another look */
    }

    .wide > *:last-child,
    .narrow > *:last-child,
    .inset > *:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {    
    .cut {
        max-width: 100%;
    }
}

/* LAYOUT: COLUMNS */

.cols {
    /* display: -webkit-flex;
    -webkit-flex-wrap: wrap; */
    display: flex;
    flex-wrap: wrap;
}

.half {
    width: calc(50% - 1.5em);
    padding-right: 1.5em;
}

.third {
    width: calc(33.33% - 1.5em);
    padding-right: 1.5em;
}

.custom-two-thirds {
    width: calc(66.66% - 0.5em); /* Adjust as needed */
    padding-right: 0.5em; /* Adjust spacing */
    display: inline-block;
    box-sizing: border-box; /* Include padding in the width */
}

.custom-two-thirds img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any inline space */
}

/* .two-thirds {
    width: calc(66.66% - 1.5em);
    padding-right: 1.5em;
} */

.quarter {
    width: calc(25% - 1.5em);
    padding-right: 1.5em;
}

@media screen and (max-width: 720px) {
    .half {
        width: 100%;
        padding-right: 0;
    }
    
    .third {
        width: 100%;
        padding-right: 0;
    }
    
    .two-thirds {
        width: 100%;
        padding-right: 0;
    }
    
    .quarter {
        width: 50%;
        padding-right: 0;
    }
}

/* ELEMENTS: SEPARATOR */

.sep:before {
    content: "";
    display: block;
    position: relative;
    width: 100px;
    left: -1.5em;
    height: 1px;
    border-bottom: 2px solid var(--color-slate);
}

@media screen and (max-width: 640px) {
    .sep {
        display: none;
    }
}

/* ELEMENTS: ICONS */

.fa {
    padding: 6px;
    margin-right: 3px;
    font-size: 75% !important;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

.fa:hover {
    opacity: 0.5;
    transition: all 0.25s;
}

.icon-bar {
    margin-top: -3px;
    margin-right: 30px;
}

/* ELEMENTS: GRADIENT */

#gradient-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1000;
    position: fixed;
    display: block;
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    background: -moz-linear-gradient(rgba(255,255,250,1), rgba(255,255,255,0));
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
}

#gradient-bottom {
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    display: block;
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,254,250,1));
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,254,250,1));
    background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,254,250,1));
    background: linear-gradient(rgba(255,255,255,0), rgba(255,254,250,1));
}

/* PAGE STYLES: HOMEPAGE */

/***** Intro block */

.intro {
    padding-bottom: calc(2vh + 1vw);
    margin-top: 5em;
    min-height: 65vh;
}

.intro-text {
    display: flex;
    justify-content: space-between; /* Align content to left and right */
    align-items: center; /* Center vertically */
}

.text-content {
    flex: 1; /* Allow text to take available space */
}

.image-content {
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.intro * {
    padding-top: 0;
    padding-bottom: 0;
}

.intro h1 {
    font-size: 400%;
    margin-top: 1em;
}

.intro h2 {
    font-weight: 400;
    line-height: 145%;
    font-size: 150%;
    border: none;
}

@media screen and (max-width: 480px) {
    .intro h1 {
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 420px) {
    .intro h1 {
        font-size: 325%;
    }
}

@media screen and (max-width: 360px) {
    .intro h1 {
        font-size: 300%;
    }
}

/***** Headshot */

#bio-prof-pic {
    border-radius: 50%;
    width: 330px;
    height:  330px;
    object-fit: cover;
    object-position: 50% 0;
    float: right;
    margin: -140px 0 24px 20px;
}

@media screen and (max-width: 768px) {
    #bio-prof-pic {
        float: none;
        margin: 0;
        margin-bottom: 20px;
        margin-top: -120px;
        width: 280px;
    }
}

@media screen and (max-width: 480px) {
    #bio-prof-pic {
        width: 240px;
        margin-top: -160px;
    }
}

@media screen and (max-width: 360px) {    
    #bio-prof-pic {
        width: 240px;
        margin-top: -180px;
    }
}

/***** Photo preview containers */

.photo-container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    filter: brightness(100%);
    transition: all 0.5s ease;
}

.photo-container .text {
    display: none; /* Hide the text by default */
    position: absolute;
    top: 50%; /* Position it in the middle of the container */
    left: 50%;
    transform: translate(-50%, -50%); /* Center it both horizontally and vertically */
    z-index: 10000;
    color: rgba(255, 255, 255, 0.9);
    font-size: 175%;
    font-family: 'IBM Plex Sans Condensed';
    font-weight: 600;
}

.photo-container:hover .text {
    display: block; /* Show the text on hover */
}

.photo-container:hover {
    filter: brightness(70%);
    transition: all 0.5s ease;
}

/***** Labels */

.ilabel {
    font-size: 95%;
    border-radius: 3px;
    padding: 1px 6px;
    margin-right: 4px;
    margin-left: 4px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
}

a.ilabel:hover {
    opacity: 0.75;
    transition: all 0.25s ease-in-out;
}

.ilabel + .ilabel {
    margin-left: 1px;
}
